.modal{
    position:fixed;
    top:15%;
    left: 25%;
    height: 37.50rem;
    width:55vw;
    margin: 0 auto;
    z-index: 500;
    border-radius: 0.63rem;
}

@media(max-width:730px){
    .modal{
        top:10%;
        left:0;
        height: 90vh;
        width:100vw;
    }
}