.content-container{
    margin-bottom: -0.31rem;
}

.content{
    width:100%;
}

.contactUs{
    display:block;
    width: 9.38rem;
    color:#ffffff;
    margin-top: -4.38rem;
    margin-bottom: 2.50rem;
    margin-left:auto;
    margin-right:auto;
}

form{
    display: inline-block;
    width:45rem;
    height: 45.13rem;
    vertical-align: top;
    background-image: linear-gradient(to bottom, #4d4a4a, #000000);
    padding-top:12%;
    font-family: 'Poiret One', cursive;
}

.label-wrapper{
    color:#e0dddd;
}

label{
   /* margin-left: 1.88rem; */
   font-size: 1.88rem;
}

input {
    /* margin-left:1.25rem; */
    width: 28.63rem;
    color:#ffffff;
    background-color: transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    cursor: pointer;
}
.content > .label-wrapper:nth-child(2){
    margin-top: 0.63rem;
    margin-bottom:0.63rem;
}

.content > .label-wrapper:nth-child(3){
    margin-left:2.19rem;
 
}

.content > .label-wrapper:nth-child(4){
    margin-left:1.66rem;
    margin-top:0.63rem;
}

.submit-btn{
    display: block;
    width:10rem;
    height:2rem;
    margin:1.56rem auto;
    padding-bottom:0.13rem;
    border:none;
    font: 1.06rem 'Poiret One', cursive;
}

.submit-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.submit-btn:active{
    color:#e0dddd;
    background-color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.container{
    display: inline-block;
    width:calc(100% - 45rem);
    vertical-align: top;
}
.contact-img{
   width: 100%;
   height: 28.13rem;
   filter: grayscale(100%);
   vertical-align: top;
}

@media(max-width:41.25rem){
    .container,
    .contact-img{
      display: none;
    }

    .contactUs{
        margin-top: -1.25rem;
    }

}

@media(max-width:41.25rem){
    form{
        width:100%;
    }

    label{
        font-size:1.13rem;
    }

    input{
        width:12.50rem;
    }

    .submit-btn{
        width:9.38rem;
        height:1.88rem;
        margin:3.13rem auto;
        font-size:1.56rem;
    }
}