.main-img{
    background: url('../images/femalemodel19.jpg'); 
    background-position:0% 50%;
    background-size: cover;
    background-repeat: none; 
}

.fem-img{
  height: 18.75rem;
  width: 100%;
}

.services > img{
  width:6.25rem;;
  height:6.25rem;;
  border-radius: 50%;
  filter:grayscale(100%);
}

.testImage{
  width: 12.50rem;
  height:12.50rem;
}

.section-block_title{
  margin-top: 0.13rem;
  font-weight: 400;
  font-size: 2.25rem;
  vertical-align: center;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}