/* @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@200&family=Playfair+Display+SC&display=swap'); */

.section-block_title{
    margin-top: 0.13rem;
    font-weight: 400;
    font-size: 1.25rem;
    vertical-align: center;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}