.culture__main-img{
    height:60rem;
    width: 100%;
    filter: grayscale(100%);
    vertical-align: bottom;
    overflow: hidden;
}

.culture__img-container2,
.culture__img-milan2{
    display: inline-block;
    width: 50%;
    height: 43.13rem;
    background: url('../../images/featuredimg2.jpg');
    background-position: 5% 50%;
    background-size:cover;
    background-repeat: none;
    vertical-align: bottom;
}

.culture__img-milan2{
    display:none;
}


.culture__milan-details > h1{
    margin-top:10%;
}
.culture__milan-details,
.culture__paris-details{
    display:inline-block;
    width:50%;
    height: 25rem;
    text-align: center;
}

.culture__milan-details{
    vertical-align:top;
    margin-top:1.25rem;
    font-size:1.69rem;
}
.culture__title{
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    font-family: 'Plaster', cursive;
    letter-spacing: 0.13rem;

}
.culture__milan-paragraph1,
.culture__milan-paragraph,
.culture__paris-paragraph{
    padding: 0 1.88rem;
    margin-top: 2%;
}

.culture__paris-paragraph + p{
    padding-left: 1.88rem;
   padding-right: 1.88rem; 
   text-align: center;

}

.culture__paris-details{
    vertical-align: top;
    margin-top:6.25rem;
    font-size:1.69rem;
}

.readmore-btn{
    display: block;
    margin: 10% auto;
    border:none;
    color:#ffffff;
    background-color: #000000;
    font-family: 'Kaushan Script', cursive;
}

.readmore-btn:active{
    color:#000000;
    background-color: #b4b4b4;
    text-decoration: underline;
}
.culture__img-container3{
    display:inline-block;
    width: 50%;
    height: 43.13rem;
    margin-top:0;
    margin-bottom: 0;
    position:relative;
    background: url('../../images/femalemodel9.jpg');
    background-position: 5% 70%;
    background-size:cover;
    background-repeat: none;
    filter: grayscale(100%);
    vertical-align: bottom;
}
.culture__milan-img{
    display: block;
    margin-top: 0;
    width:10%;
    height:28.13rem;
}

@media(max-width:39.38rem){
    .culture__milan-details,
    .culture__paris-details{
     width:100%;
    }
   .culture__img-milan2,
   .culture__img-container3{
    display:block;
    width:100%;
   }
}


@media(max-width:39.38rem){
    .culture__img-container2{
        display: none;
    }
    .culture__milan-details > h1,
    .culture__paris-details > h1{
       margin-top:5%;
    }

}