.feature-photos__container{
    height:28.13rem;
    width:50%;
    display: inline-block;
    vertical-align: top;
}

.feature-photos__img1{
  filter:grayscale(100%);
}

.feature-photos__img1,
.feature-photos__img2{
  height:100%;
  width: 100%;
  z-index: 99;
}

/* .feature-photos__img1:hover{
  filter:none;
} */


@media(max-width:28.13rem){
  .feature-photos__container{
    height: 21rem;
  }
}