.main-footer{
    height: 15.50rem;
    background:#000000;
    bottom:0;
    left:0;
}

.main-footer__title{
    display: inline-block;
    width: 20.63rem;
    height: 1.88rem;
    margin-top: 1.56rem;
    padding-left:1.25rem;
    color:#ffffff;
    font: 3.5rem 'Wire One', sans-serif;
    vertical-align: top;
    /* text-decoration: underline 1px; */
}

.items-container{
    display:inline-block;
    position: relative;
    left: 50%;
    width:6.25rem;
}

ul{
    padding:0;
}
.footer__item{
  display:block;
  color:#ffffff;
  padding-left: 0;
  padding-right: 0;
  padding-top:1.5rem;
  text-align: left;
  font: 0.88rem 'Julius Sans One', sans-serif;
  cursor: pointer;
}

.main-footer > .items-container:nth-child(1){
    vertical-align: top;
    margin-right:1.25rem;
}

.main-footer > .items-container:nth-child(2){
    vertical-align: top;
}

@media(max-width:41.25rem){
    .main-footer{
        height:100%;
        width:100%;
    }
    
    .main-footer > li{
        margin-bottom: 0.31rem;
    }
    .main-footer__title{
        width:100%;
        font-size:3.75rem;
        text-align: center;
    }
}

@media(max-width:41.25rem){
    .items-container{
        width:100%;
        left:2%;
    }

    .footer__item{
        font-size: 1.25rem;
        text-align: center;
    }
}