.header{
   height: 1.26rem;
   background-color: white;
   position: sticky;
   top:0;
   left:0;
   z-index:100;
}
.header__logo{
   display: inline-block;
}
.header__menu__btn {
   display: inline-block;
   margin-bottom: .44rem;
   position: relative;
   left:80%;
}

.title-wrapper{
   display:inline-block;
   margin-top: -2.06rem;
   margin-bottom:0rem;
   vertical-align: top;
   position:relative;
   left:38.5%;
   color:#000000;
   font-size:1.56rem;
   font-family: 'Wire One', sans-serif;
}

@media(max-width:41.25rem){
   .header{
      height:3.75rem;
   }
   .header__menu__btn{
      left:40%;
      margin-bottom: 0.56rem;
   }
   .title-wrapper{
      left:25.5%;
      font-size: 2.38rem;
   }
}