.intro-container{
    height:20rem;
    background-image: url("../../images/malemodel6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 15%;
}

.intro{
    height:20rem;
    clip-path: polygon(60% 0%,100% 0%,100% 100%,50% 100%);
    background-color: #312f2fc0;
    overflow: hidden;
}

.introImg{
    width:14.38rem;
    height:15.63rem;
}

.intro-details{
    height:18.75rem;
    clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
    background-color: red;
}

.intro__description{
    position: relative;
    left: 60%;
    width:18.75rem;
    margin-top: 3.13rem;
    font-family: 'Aboreto', cursive;
    font-style:italic;
}

.intro__heading{
    margin:0;
    color:#ffffff;
}

.intro__txt{
    color:#ffffff;
    font-size: 1rem;
}

.joinUs__button{
    display: block;
    position: relative;
    left:70%;
    margin-top:3.13rem;
    width: 6.25rem;
    height:1.88rem;
    border-radius: 0.31rem;
    border:none;
    font: 0.94rem 'Aboreto', cursive;
    cursor: pointer;
 }
 
 .joinUs__button:active{
    color:#ffffff;
    background-color: #000000;
 }
 