.joinUs{
    height: 350px;
    background-size: cover;
    background-image: url('../../images/femalemodel17.jpg');
    background-position: 0% 45%;
    margin-bottom: .5%;
    filter:grayscale(100%)
}

.joinUs__content{
    display:block;
    width: 70vw;
    height:350px;
    background-image: linear-gradient( to top right, rgba(163, 160, 160, 0.709) , rgba(0, 0, 0, 0.792));
    clip-path: polygon(0 0, 100% 0%, 60% 100%, 0 100%);
    z-index:10;
}

.joinUs__content > h1{
    display:block;
    width:360px;
    margin-top:0;
    margin-left:5%;
    padding-top:75px;
    color:rgba(250, 250, 250, 0.913); 
    font-family: 'Aboreto', cursive;
    font-style: italic;
}
@media(max-width:650px){
    .joinUs__content > h1{
       width:300px; 
    }
}
.joinUs__button{
   display: block;
   width: 100px;
   height:30px;
   margin: 10% 20%;
   border-radius: 5px;
   border:none;
   font: 15px 'Aboreto', cursive;
   cursor: pointer;
}

.joinUs__button:active{
   color:#ffffff;
   background-color: #000000;
}

.gg-arrow-left-o,
.gg-arrow-right-o{
    --ggs: 10;
    color:white;
}
