.joinUs{
    height: 30rem;
    background-size: cover;
    background-image: url('../../images/femalemodel17.jpg');
    background-position: 0% 45%;
    margin-bottom: .5%;
    filter:grayscale(100%)
}

.joinUs__content{
    display:block;
    width: 60vw;
    height:30rem;
    font-size:1.44rem;
    background-image: linear-gradient( to top right, rgba(163, 160, 160, 0.709) , rgba(0, 0, 0, 0.792));
    clip-path: polygon(0 0, 100% 0%, 60% 100%, 0 100%);
    z-index:10;
}

.joinUs__content > h1{
    display:block;
    width:30.50rem;
    margin-top:0;
    margin-left:15%;
    padding-top:4.69rem;
    color:rgba(250, 250, 250, 0.913); 
    font-family: 'Aboreto', cursive;
    font-style: italic;
}
/* @media(max-width:43.63rem){
    .joinUs__content > h1{
       width:18.75rem; 
    }
} */
.joinUs__button{
   display: block;
   width: 9.25rem;
   height:2.88rem;
   /* margin: 10% 20%; */
   margin-top:9%;
   margin-left:-43%;
   border-radius: 0.31rem;
   border:none;
   font: 1.5rem 'Aboreto', cursive;
   cursor: pointer;
}

.joinUs__button:active{
   color:#ffffff;
   background-color: #000000;
}

.gg-arrow-left-o,
.gg-arrow-right-o{
    --ggs: 10;
    color:white;
}

@media(max-width:43.63rem){
    .joinUs__content > h1{
       width:18.75rem; 
    }
}