.triangle{
    width:0;
    height:0;
    border-left: 0.63rem solid transparent;
    border-right: 0.63rem solid transparent;
    border-bottom: 1.25rem solid #000000;
    display:inline-block;
    margin-top: 0.19rem;
    margin-left:0.63rem;
    cursor: pointer;
}

@media(max-width:41.25rem){
   .triangle{
      margin-top: 1.25rem;
      margin-left:0.94rem;
   }
}