.image-container{
    display:inline-block;
    position: relative;
    left:15%;
}
.img{
    height:25.25rem;
    width:20.75rem;
    padding-right:0.31rem;
    filter: grayscale(100%);
}

@media(max-width:41.25rem){
    .image-container{
        display:block;
        width:100%;
    }

    .img{
        display: block;
        width:80%;
        height:16.88rem;
        margin: 0.31rem ;
    }
}