.nav{
    position:fixed;
    right:0;
    height: 10vh;
    width:100vw;
    z-index:100;
    background-color: rgba(255, 255, 255, 0.884);
}
.nav a:hover,
.nav a:active,
.nav a.active{
    color:#000000;
    text-decoration: underline;
}

ul{
    text-align: center;
}

.nav-item:first-child{
    padding-left: 0;
}
.nav-item{
    display: inline-block;
    padding-left:4.38rem;
    text-align: center;
    list-style: none;
}

.nav-item > a {
    text-decoration: none;
    color:black;
    font-size:2.19rem;
}

@media(max-width:41.25rem){
    .nav{
        height:100vh;
        width:100%;
    }
    .nav-item{
        display:block;
        font-size: 3.13rem;
        padding-left:0;
        margin-top: 4.06rem;
    }
}