.container{
    height: 30.75rem;
    margin-top:.5%;
    margin-bottom:.5%;
}

.models{
    display:inline-block;
    vertical-align: top;
    height:30.75rem;
    width: 33%;
}

.imgtag{
    height:30.75rem;
    width:100%
}

.models:nth-of-type(2){
   background-position: 0.31rem 3.13rem;
   margin-left:.5%;
   margin-right:.5%;
   filter:grayscale(100%)
}

.models:nth-of-type(3){
    filter:grayscale(100%)
}

@media(max-width:39.38rem){
    .container,
    .imgtag,
    .models{
        height: 15.63rem;
    }
}